/*Definição do site todo*/
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/*Cabeçalho*/
header{
    background-color: #bbbbbb;
    padding: 20px 0;
}
.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}
nav{
    position: absolute;
    top: 110px;
    right: 0;
}
nav li{
    display: inline-block;
    margin: 0 0 0 15px;
}
nav a{
    display: inline-block;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}
nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}

/*Daqui para baixo são main da pagina html Contato*/
main{
    width: 940px;
    margin: 0 auto;
}
form{
    margin: 40px 0;
}
form label, form p{
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}
/*form input, form textarea{
    display: block;
    margin-bottom: 20px;
    padding: 10px 25px;
    width: 50%;
} antigo, novo logo a baixo*/
.input-padrao{
    display: block;
    margin-bottom: 20px;
    padding: 10px 25px;
    width: 50%;
}
.checkbox{
    margin:20px 0;
}
select {
    margin: 11px 0;
    text-align: center;
    width: 15%;
    padding: 5px 5px;
    font-size: 15px;
}
option {
    width: 5%;
    font-size: 16px;
    background: #faf4f4;
}
.botao-Enviar{
    width: 40%;
    padding: 15px 0;
    background: orange;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    transition: 1s all; 
}
.botao-Enviar:hover{
    background: darkorange;
    transform: scale(1.2);
}
table {
    margin: 20px 40px;
}
thead {
    background: #555555;
    color: #FFFFFF;
}
td, th {
    border: 1px solid #000000;
    padding: 10px 20px;
}

/*Rodapé*/
footer{
    background-color: black;
    text-align: center;
}